{% extends 'base.html' %}

{% block title %}
Dashboard
{% endblock %}
{% block style %}
<style>
  body {
    margin-bottom: 0;
    padding-bottom: 150px; 
    font-family: Arial, sans-serif;
    background-image: url('../static/images/heart.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  }

  nav {
    background-color: rgba(4, 26, 58, 0.8);
    padding: 15px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
  }

  nav img {
    height: 40px;
    margin-left: 10px;
  }

  h2 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  #form-container {
    position: relative;
    z-index: 1;
    top: 120px; /* Adjust based on your navbar height */
    left: 50%;
    transform: translateX(-50%);

  }

  #prediction-container {
    position: fixed;
    top: 200px; /* Adjust based on your navbar and form height */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure the output stays above other content */
    display: none;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(4, 26, 58, 0.8);
    color: white;
    padding: 15px;
    z-index: 1;
  }
</style>
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-white" style="background-color: rgba(4, 26, 58, 0.8);">
            <h5 class="mb-0">Dashboard</h5>
        </div>
        <div class="card-body">
            <h3>Welcome, {{ current_user.fname }}!</h3>
            <p>Here you can see your customized information and view your records history.</p>
            <ul>
                <li><strong>First Name:</strong> {{ current_user.fname }}</li>
                <li><strong>Last Name:</strong> {{ current_user.lname }}</li>
                <li><strong>Age:</strong> {{ current_user.age }}</li>
                <li><strong>Gender:</strong> {{ current_user.gender }}</li>
            </ul>
            <a href="{{ url_for('customize_user') }}" class="btn btn-primary">Customize Information</a>
            <a href="{{ url_for('symptom_predictions') }}" class="btn btn-primary">Disease Records</a>
            <a href="{{ url_for('diabetes_predictions') }}" class="btn btn-primary">Diabetes Records</a>
            <a href="{{ url_for('heart_disease_predictions') }}" class="btn btn-primary">Heart Disease Records</a>
        </div>
    </div>
</div>
{% endblock %}
