{% extends 'base.html' %}

{% block title %}
Sickness Prediction System using Symptoms
{% endblock %}

{% block style %}
<style>
  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-image: url('../static/images/bg.webp'); /* Update the background image URL */
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      color: #fff; /* Set text color to contrast with background */
      backdrop-filter: blur(5px); /* Adjust the blur value as needed */
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      min-height: 100vh;
      justify-content: center;
  }

  
  nav {
    background-color: rgba(4, 26, 58, 0.8); /* Add alpha channel for transparency */
    padding: 15px;
    position:absolute
     width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  nav a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin: 0 10px;
      font-weight: bold;
  }

  nav img {
      height: 40px; /* Adjust the height as needed */
      margin-left: 10px;
  }

  h2 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

section .system-content {
width: 50%;
box-sizing: border-box;
padding: 0 20px;
text-align: center; /* Add this line to center-align text */
}



.about-section {
margin-top: 20px; /* Adjust margin as needed */
display: flex;
position: relative;
z-index: 1; /* Ensure this element is on top */
}

.about-section .about-text {
width: 100%;
box-sizing: border-box;
padding: 20px 50px;
background: rgba(4, 26, 58, 0.8); /* Add a transparent background */
}


auth-buttons {
text-align: center;
margin-top: 20px;
}

.signup-btn,
.login-btn {
background-color: #2ecc71; /* Green background color */
color: #fff; /* White text color */
padding: 10px 20px;
font-size: 16px;
margin: 0 10px;
border: none;
border-radius: 5px;
cursor: pointer;


}

.login-btn {
background-color: #3498db; /* Blue background color for Log In button */
}


section {
flex-grow: 1; /* Allow the section to grow and take the remaining space */
margin-top: 60px; /* Adjusted to leave space for fixed navbar */
padding: 30px 50px;
display: flex;
position: relative;
z-index: 1; /* Ensure this element is on top */
margin: 0 80px;

}
section .system-content{
text-align: left;
font-size: 55px ;
}



  footer {
      background-color: rgba(4, 26, 58, 0.8);  /* Add alpha channel for transparency */
      padding: 20px;
      text-align:left;
      margin-top:50px;
     

  }

  

  

  @media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    nav img {
        margin: 0; /* Adjust margin as needed */
    }

    section {
        flex-direction: column;
        text-align: center;
        
    }

    #container faq-section {
        word-wrap: break-word;
        flex-direction: column;
        text-align: center; padding: 10px;
        padding:0 10px;
    }
    
    .btn.btn-link.text-white {
        font-size: 12px;
        margin:0; 
    }
    .about-content {
        padding: 10px;
    }
    section img {
display: none;
}

  



      section .system-content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center; /* Center the text within the container */
}



.auth-buttons {
  text-align: center;
}

.signup-btn,
.login-btn {
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  margin: 10px 0px;
}


    
  
section{
  padding: 5px;
  margin: 0 20px;
}
      section .about-text ,
      section .system-content {
          width: 100%;
          text-align: center;



      }
      section .system-content{
          font-size:20px;
          width: 100%;



      }
     
      
  }

  .faq-section {
    padding-top: 50px;
    padding:20px 50px;
    color: white;
    margin-bottom:0 50px;
   
    padding:10px 10px;
    
  }
  
</style>
{% endblock %}

{% block content %}
<section>
    <div class="system-content">
        <!-- Your sickness prediction system content goes here -->
        <h2 style="color: rgb(4, 26, 58, 0.8);  ">Welcome to Diagno-Sense</h2>
        <p style="color: rgb(4, 26, 58, 0.8); font-size: 20px">Your gateway to proactive health management! We are at the forefront of healthcare innovation, proud to introduce our state-of-the-art Sickness Prediction System. <br><br>At Diagno-Sense, we believe in empowering individuals with the ability to take control of their health through cutting-edge technology.</p>
        <div class="auth-buttons">
            <button class="signup-btn" onclick="window.location.href='/signup'">Sign Up </button>
            <button class="login-btn" onclick="window.location.href='/login'">Log In</button>
        </div>
    </div>

    
</section>

<section class="about-section">
    <img src="../static/images/aboutus.webp" alt="About Us Image" style="width: 40%;">
    <div class="about-text">
        
        <h2> About Us</h2>
        <p>Powered by advanced machine learning algorithms, our system transforms the input of your symptoms into a comprehensive analysis. As you share your symptoms through our user-friendly interface, our algorithms, finely tuned through continuous learning, sift through vast medical datasets to deliver rapid and accurate predictions regarding potential diseases. This personalized approach ensures that you receive tailored insights, providing you with the knowledge needed to take proactive steps towards your well-being.

            With Diagno-Sense, predicting diseases is not just a function; it's a seamless and empowering experience. Welcome to a future where your health is anticipated, and tomorrow's well-being begins with the precision of today's technology.</p></div>
    
</section>


<div class="container faq-section " >
    <h2 class="text-center mb-4" style="color: rgba(4, 26, 58, 0.8)">FAQs</h2>
    <div class="accordion" id="accordionExample">

        <!-- FAQ item 1 -->
        <div class="card text-white mb-3 " >
          <div class="card-header" id="headingOne"style="background-color: rgba(4, 26, 58, 0.8);">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What is the purpose of the disease prediction system?
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body"style="color: rgba(4, 26, 58, 0.8);">
              The disease prediction system aims to analyze symptoms provided by the user and predict potential diseases or health conditions based on the input data and pre-existing medical knowledge.
            </div>
          </div>
        </div>
      
        <!-- FAQ item 2 -->
        <div class="card text-white  mb-3">
          <div class="card-header" id="headingTwo"style="background-color: rgba(4, 26, 58, 0.8);">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How accurate are the predictions made by the system?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body"style="color: rgba(4, 26, 58, 0.8);">
              The accuracy of predictions depends on various factors, including the quality of input data, the complexity of the underlying algorithms, and the availability of comprehensive medical databases. Our system strives to provide accurate predictions based on the best available information.
            </div>
          </div>
        </div>
      
       
      
        <!-- FAQ item 4 -->
        <div class="card text-white mb-3">
          <div class="card-header" id="headingFour"style="background-color: rgba(4, 26, 58, 0.8);">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Can I trust the recommendations provided by the system?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body" style="color: rgba(4, 26, 58, 0.8);">
              While the system aims to provide helpful recommendations based on the input symptoms, it's essential to interpret the results with caution. The system's recommendations should be considered as preliminary information, and users are encouraged to seek professional medical advice for accurate diagnosis and treatment.
            </div>
          </div>
        </div>
      
      </div>
      
</div>

{% endblock %}


