<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='sy.css') }}">
    <title>Predict Disease</title>
</head>
<body>
    <nav >
        <img src="../static/images/PROJECT LOGO.png" alt="Logo" style="height: 60px;">
        <div>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('about')}}">About Us</a>
            <a href="{{url_for('symptoms')}}">Predict</a>
            <a href="{{url_for('contact')}}">Contact Us</a>
            <a href="{{url_for('signup')}}">Signup</a>
            <a href="{{url_for('login')}}">Log In</a>
        </div>
      </nav>

   
<div id="container">
    
    <form id="symptomsForm">
        <h1 style="text-align: center; color:white;">Predict Disease</h1>
        <label for="symptoms" center; style="color:white;">Enter Symptoms (comma-separated):</label><br><br>
        <input type="text" id="symptoms" name="symptoms"><br>
        <br><button type="submit">Predict</button>
    </form>
    <div id="result"></div>
</div>
    <script>
        document.getElementById("symptomsForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").innerText = "Predicted Disease: " + data.final_prediction;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
