<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
        {% block title %}
        {% endblock %}
      </title>
    
      {% block style %}
      {% endblock %}
  </head>
  <body>
      <nav>
        <img src="PROJECT LOGO.png" alt="Logo" style="height: 60px;">
        <div>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('about')}}">About Us</a>
            <a href="{{url_for('contact')}}">Contact Us</a>
            <a href="{{url_for('signup')}}">Signup</a>
            <a href="{{url_for('login')}}">Log In</a>
        </div>
      </nav>
   

    {% block content %}
    {% endblock %}


      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
    <footer>
        <div class="about">
            <p>About the System: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="social">
            <p>Contact us on Instagram or Twitter: @sicknessprediction</p>
        </div>
    </footer>
  </body>
</html>