<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Disease</title>
</head>
<body>
    <h1>Predict Disease</h1>
    <form id="symptomsForm">
        <label for="symptoms">Enter Symptoms (comma-separated):</label><br>
        <input type="text" id="symptoms" name="symptoms"><br>
        <button type="submit">Predict</button>
    </form>
    <div id="result"></div>

    <script>
        document.getElementById("symptomsForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("result").innerText = "Predicted Disease: " + data.final_prediction;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
