body {
     margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("../static/images/symptomBG.webp"); /* Update the background image URL */
    background-size: cover;
    background-position: center; {% endcomment %}
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(5px); /* Adjust the blur value as needed */
    min-height: 100vh;
    min-height: 100vh;}
nav {
    background-color: rgba(4, 26, 58, 0.8);
    padding: 15px;
    position:absolute
     width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
}

nav img {
    height: 40px; /* Adjust the height as needed */
    margin-left: 10px;
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    nav img {
        margin: 0; /* Adjust margin as needed */
    }
}

#container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(4, 26, 58, 0.8);
        max-width: 500px;
        border-radius: 10px;


}

button[type="submit"] {
    background-color:rgba(29, 143, 174, 0.8); /* Set default button color to blue */
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: green; /* Change button color to green on hover */
}
#symptoms{
    width: 200px; 
    height: 30px;
}
#result {
    margin-top: 20px;
    font-weight: bold;
    color:white;
}
